# Archivo de configuraciones estáticas
Aplicacion=SACVeBio - Registro de tenencia y movimiento de productos

RutaAplicacion=/scvb-cre

TimeZone=America/Buenos_Aires

# Clave para encriptar las contraseñas de los usurios a validar para el acceso de la API REST
ClaveEncriptar=ministeriodeambiente

# Rutas
EntidadesParametricas=faces/param
VerAut=faces/aut/list
GestionarAut=faces/aut/gestion
ZonasIntervencion=faces/aut/zonas
EstadosAutorizacion=faces/aut/estados
ParamDoc=faces/paramDoc
Personas=faces/aut/personas
Inmuebles=faces/aut/inmuebles
Seguridad=faces/seg
Productos=faces/prod
Inmuebles=faces/aut/inm
VerCert=faces/cert/list
VerGuias=faces/guia/list
GestionarGuias=faces/guia/gestion
GestionarCert=faces/cert/gestion
Transporte=faces/guia/transporte
PersonasGuias=faces/guia/personas
Reportes=faces/rep